body{
    background: #efefef;
    overflow: hidden;
}
/* ----------------------------Modal-------------------------*/
.Modalframe{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    display: none;
}
.ModalConteiner{
    margin: 1% auto;
    background: #fff;
    border-radius: 3px;
    max-width: 60%;
    width: 35%;
}
.ModalConteiner .export{
    padding: 20px 20px;
    color: #666;
    background: #eee;
    font: 20px arial;
    font-weight: bolder;
}
.ModalConteiner .BobyModal{
    padding: 20px;
    margin: 2px auto;
    width: 90%;
}
.ModalConteiner .BobyModal .ContaPag, .ContaBanco{
    display: flex;
    flex-direction: column;
}
.ModalConteiner .BobyModal .ContaBanco label{
    display: block;
}        

.ModalConteiner input[type=text],select, textarea{
    padding: 9px;
    font: 14px arial;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #7F7F7F;
    box-shadow: 0 0 0 0.3px #bbb;
    width: 90%;
}
.BobyModal .nomeCat{
    width: 100%;
}
.ModalConteiner select{
    width: 90%;
    padding: 9px;
}
.ModalConteiner select:not(.nomeCat){
   width: 95%;
}
.ModalConteiner .BobyModal label{
    color: #7e7e7e;
    font: 16px arial;
    margin: 3px;
    padding-top: 5px;
    font-weight: 700;
}
.ModalConteiner input[type=radio]{
    padding: 20px;
    margin: 5px 10px;
    border-bottom: 1px solid #eee; 
}
.border{
    border-bottom: 2px solid #eee; 
    width: 95%;
    padding: 2px;
    margin: 10px 0;
}
.ModalConteiner input[type=submit]{
    width: 90%;
    padding: 10px;
    color: #fff;
    background: #15AE32;
    border: none;
    font: 18px arial;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px 0;
}

/* ----------------------------Content-------------------------*/
.contentConta{
    padding: 30px 20px;
    padding-bottom: 5px;
    margin: 0 50px;
    background: #fff;
}
.contentConta label{
    color: #333;
    font-weight: bolder;
    font-size: 14px;
    margin: 8px;
}
.areaButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.areaButtons .btNewConta{
    background: #15AE32;
    padding: 15px 10px;
    border: none;
    color: #fff;
    font: 16px arial;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin-right: 40px;
    border-radius: 4px;
}
.areaButtons img{
    width: 30px;
    position: relative;
    top: 8px;
}
.areaButtons label{
    color: #0066ff;  
    margin-left: 3px;
    margin-right: 40px;
    cursor: pointer;
}
.areaButtons label:hover{
    color: #39b7ee;
    text-decoration: underline;
}
.areaFiltro{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    border-top: 2px solid #eee; 
}
.areaFiltro section:not(.areaPesquisa .areaDataRel){
    width: 100%;
}
.areaFiltro .areaPesquisa{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.areaFiltro .areaPesquisa input[type=text]{
    width: 50%;
}
.areaFiltro input[type=text],select,calendar{
    padding: 7px;
    color: #333;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    margin: 0 5px;
}
.areaDataRel input[type=text]{
     width: 28%;
     
}
.anul{
    margin: 8px 0;
}
.areaFiltro input[type=submit]{
    width: 12%;
    padding: 6px;
    color: #fff;
    background: #3991ee;
    border: none;
    font: 14px arial;
    border-radius: 5px;
    font-weight: bold;
}
.areaTable{
    margin-top: 1rem;
}

/*// -------------------Categoria-------------------*/

.ModalConteinerCat{
    width: 40%;
}
.categ section{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.categ input[type=text],.categ select{
    width: 18%;
}
.categ input[type=submit]{
    width: 7%;
}
.BobyModal div{
    display: flex;
    width: 100%;
}
.BobyModal div section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.BobyModal section{
    width: 100%;
}
.Total{
    justify-content: space-around;
}


/* -------------------Sinistro----------------*/

.btserchSin{
    border: 1px solid #ccc !important;
    cursor: pointer !important;
    color: red !important;
}
.titleSin{
    color: #555; 
    font-size: 25px; 
    margin-right: 50px;
}
.DivRelSin{
    display: flex;
    justify-content: space-between;
}
.areaAçoes{
    display: flex; 
}
.areaAçoes p{
    font-size: 18px;
    color: #555;
    font-weight: bold;
}
.areaAçoes i{
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}
.icon-pencil{
    color: #18984D;
}
.icon-cancel-circle{
    color: #E81123;
}
.icon-credit-card{
    color: #07A9DC;
}
.registrarConta{
    z-index: 5;
}

.AreaSearch{
    display: flex;
    width: 25%;
}
.AreaSearch input{
   padding: .3rem;  
   background: #fff;
   width: 100%;
   border: 1px solid #ddd;
   border-radius: 2px;
   padding-right: 2rem;
   color: #555;
}
.AreaSearch i{
   color: #7e7e7e;
   margin-left: -2rem;
   cursor: pointer;
   background: #eee;
   padding: .8rem;
   display: flex;
   font-size: 1.2rem;
   border: 1px solid #ddd;
}

/*------------------------------Adicionar Conta-------------------*/
.hide{
    right: -50% !important;
}
.areaModal{
    width: 30rem;
    height: 100vh;
    background: #fff;
    box-shadow: 1px 5px 10px 0px #bbb;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 1rem;
    transition: all 1s;
}
.areaModal > div article{
    display: flex;
    width: 100%;
}
.areaModal > div section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}
.CloseModalFrame{
   width: 100%;
}
.areaModal h3{
    width: 100%;
    padding: 1rem 0;
    color: #07A9DC;
    text-align: center;
    font-weight: normal;
    color: #555;
    font-size: 1.35rem;
}
.iconRight{
    padding: .3rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.information article{
    justify-content: space-between;
    margin: .6rem 0;
}
.saveButton{
   background: #3991ee !important;
   color: #eee !important;
}
.areaModal > div select{
    width: 100%;
    font-size: 1.05rem;
    border: none;
    background: #eee;
    border-radius: 0;
    margin: 0;
}
.areaModal > div label,
.areaModal > div .saveButton{
    font-weight: bold;
    display: inline-block;
    min-width: 130px;
    font-size: .9rem;
    color: #333;
    margin-bottom: 5px;
}
.areaModal > div textarea{
    color: #333;
    padding: 5px;
}
.areaModal > div input, .areaModal > div textarea{
    border: 1px solid #ccc;
    flex-grow: 1;
    line-height: 2.3rem;
    font-size: .9rem;
    text-indent: 8px;
    background: #eee;
    width: 100%;
    border: none;
}
.areaChecks{
    margin: .5rem 0;
}
.areaChecks article{
    justify-content: flex-start;
    padding: .2rem 0;
}
.areaChecks label{
	position: relative;
	bottom: 0;
	left: 0;
	margin: 0 10px !important;
	padding: 5px 0 5px 28px;
	color: #0774d9;
	font-size: 10pt;
	cursor: pointer;
}
.areaChecks label:before{
	content: '';
	border: 1.8px solid #5DA4DA;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	left: 5px;
	padding-left: 2px;
	font-size: 10pt;
	font-weight: bold;
	line-height: 16px;
	border-radius: 2px;
}
.areaChecks label{
	color: #2F4761 !important;
}
.areaChecks input[type=checkbox]{
	display: none;
}
.areaChecks input[type=checkbox]:checked + label:before{
	content: '\2713';
	background: #5DA4DA;
	color: #fff;
}
.out{
    visibility: hidden !important;
    transition: all 1s;
}
.MultipleSelectDisplay{
    position: absolute;
    width: 91%;
    /*margin-top: 3.5rem;*/
    background: #f9f9f9;
    border: 1px solid #eee;
    padding: 0; 
    visibility: visible;
    height: 13rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.MultipleSelectDisplay article{
    border-bottom: 2px solid #fff;
    width: 95%;
}
.MultipleSelectDisplay article:hover{
    background: lightcyan;
}

.bottonn{
    bottom: -100% !important;
}
.areaTableOperações{
    position: absolute;
    width: 60%;
    height: 70vh;
    z-index: 50;
    box-shadow: 5px -3px 20px 1px #bbb;
    bottom: 0;
    background: #fff;
    margin: 0 20%;
    padding: 1rem;
    transition: all .5s;
}
.closeSpanTable{
    background: #ccc;
    color: #333;
    font-weight: bold;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 5rem;
    display: block;
    float: right;
    line-height: 2.3rem;
    text-align: center;
    cursor: pointer;
    margin-top: -2rem;
    margin-right: -2rem;
}
.sin{
    margin-top: -1rem !important;
    margin-right: -1rem !important;
}
.areaTableOperações h3{
    width: 100%;
    text-align: center;
    padding: .6rem;
    color: #555;
}

/*---------------------Outros------------------*/
.areaButtons .icon-file-pdf,.areaButtons .icon-file-excel{
    font-size: 1.5rem; 
}
.areaButtons .icon-file-pdf{
    color: #E81123;  
}
.areaButtons .icon-file-excel{
    color: #18984D;
}
.openOperacao{
    background: #8A44B4 !important;
}
.areaRadios label{
    margin-top: -1rem;
    display: flex;
    width: auto;
}
.areaRadios td{   
    /*display: flex !important;*/   
}

.areaExports{
    display: flex;
    justify-content: center;
    align-items: center;
}