<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/redirect/error-404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/redirect/error-500.xhtml</location>
    </error-page>
   <servlet>
       <servlet-name>Push Servlet</servlet-name>
       <servlet-class>org.primefaces.push.PushServlet</servlet-class>
       <async-supported>true</async-supported>
   </servlet>  
  <servlet-mapping>
      <servlet-name>Push Servlet</servlet-name>
      <url-pattern>/primepush/*</url-pattern>
  </servlet-mapping>
  
<servlet>
    <description>AtmosphereServlet</description>
    <servlet-name>AtmosphereServlet</servlet-name>
    <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
<!--    <init-param>
        <param-name>org.atmosphere.atmosphereDotXml</param-name>
        <param-value>/WEB-INF/config/atmosphere.xml</param-value>
    </init-param>-->
    <!-- Reduce memory usage by sharing ExecutorServices -->
    <init-param>
        <param-name>org.atmosphere.cpr.broadcaster.shareableThreadPool</param-name>
        <param-value>false</param-value>
    </init-param>
    <!-- Automatically free Broadcaster objects when the last client on the Broadcaster's channel disconnects -->
    <init-param>
        <param-name>org.atmosphere.cpr.broadcasterLifeCyclePolicy</param-name>
        <param-value>EMPTY_DESTROY</param-value>
    </init-param>
<!--     <init-param>
            <param-name>org.atmosphere.cpr.packages</param-name>
            <param-value>/socket/NotifyResource.java</param-value>
     </init-param>-->
    <load-on-startup>0</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>AtmosphereServlet</servlet-name>
    <url-pattern>/atmosphere/*</url-pattern>
    <url-pattern>/Service/*</url-pattern>
</servlet-mapping>    
</web-app>
